.header-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url('/assets/icons/panel.svg') !important;
  z-index: 999;
  border-bottom: 1px solid #000;
  background-color: #fff !important;
}

.toolbar-logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.dashboard-container {
  width: 100%;
  display: grid;
  padding: 34px;
  padding-top: 78px;
  grid-template-columns: 1fr 1fr 1.5fr;
  gap: 16px;
  margin: 16px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Contenedor que agrupa título e ícono por fuera del card */
.metric-container {
  display: flex;
  flex-direction: column;
}

/* Título (fuera del card) con ícono o emoji */
.metric-title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 8px;    /* Opcional, para alinear con la tarjeta */
  margin-bottom: 4px; /* Espacio entre el título y la tarjeta */
  font-size: 1.2rem;
  font-weight: bold;
}

/* Tamaño del emoji o iconito al lado del texto */
.emoji {
  font-size: 1.2rem;
}

.metric-card {
  padding: 16px;
}

.metric-card-full {
  padding: 16px;
  height: 100%;
}

.metric-value {
  color: #FF5722;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.metric-description {
  font-size: 1rem;
}
.metric-history {
  font-size: 0.7rem;
}

.icon-large {
  width: 48px;
  height: 48px;
  fill: #F58220;
}

.routine-list-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.routine-item-card {
  padding: 8px;
}

.routine-item-card mat-card-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.routine-icon {
  width: 32px;
  height: 32px;
  fill: #F58220; 
}

.routine-text {
  display: flex;
  flex-direction: column;
}

.routine-title {
  font-weight: bold;
  font-size: 1rem;
}

.routine-description {
  font-size: 0.85rem;
  color: #777;
}
