.header-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url('/assets/icons/panel.svg') !important;
    z-index: 999;
    border-bottom: 1px solid #000;
    background-color: #fff !important;
  }

  
  .toolbar-logo {
    font-weight: bold;
    font-size: 1.2rem;
  }
  .volver-button {
    text-transform: none;
    background: transparent; 
    }
  .toolbar-spacer {
    flex: 1 1 auto;
  }
  .error-message {
    color: red;
    margin-top: 4px;
    font-size: 0.9rem; 
  }
  .menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 64px);
    margin-top: 0px;
  }
  
  .menu-card {
    width: 100%;
    max-width: 400px;
    padding: 24px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
  
  .profile-icon {
    width: 120px;
    height: auto;
  }
  .more-options-button {
    color: #000 !important; 
  }
  
  .menu-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 16px;
  }
  
  .menu-button {
    margin-top: 8px;
    width: 100%;
  }
  
  .register-link {
    text-transform: none;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }
  .mat-menu-panel {
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.3) !important;
    border: 1px solid #e0e0e0; 
    border-radius: 4px;        
  }
  